.quicksandHeading {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 30px;
    font-optical-sizing: auto;
    color: #ffff;
  }

  .quicksandSubHeading {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 20px;
    font-optical-sizing: auto;
  }

  .quicksandSubHeadingSub {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-optical-sizing: auto;
    color: #ffff;
  }

  .quicksandParagraph {
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-optical-sizing: auto;
    color: #171717;
  }

  .quicksandSubHeadingArab {
    font-family: "Quicksand", sans-serif;
    font-weight: 300;
    font-size: 16px;
    font-optical-sizing: auto;
    color: #ffff;
  }

  .quicksandTranslate {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    font-size: 14px;
    font-optical-sizing: auto;
    color: #ffff;
  }

  .quicksandColorTranslate {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-optical-sizing: auto;
    color: #3e77ff;
  }

  .quicksandColorHeadTranslate {
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-optical-sizing: auto;
    color: #6290ff;
  }

  .accordionHeader {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 18px;
    font-optical-sizing: auto;
  }

  .accordionSubHeader {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: 16px;
    font-optical-sizing: auto;
  }
  